config
cache
classes
lib
out
scala_classes
target/
*.login
cache_
.idea
realpath/realpath
node_modules
*fastopt*
*fullopt*
examples/dotty-example/_site
examples/scalajs-plain-example/server/public/generated
examples/scalajs-react-example/server/public/generated
.cbt-loop.tmp
ports/scalafmt/phase1
